.promo {
	padding: 5rem 0 2.5rem;
	@media (min-width: $md4) {
		padding: 2.5rem 0;
	}
	@media (max-width: $md4) {
		background: url('@img/promo-decor-mobile-1.svg') 100% 0 / auto no-repeat, url('@img/promo-decor-mobile-2.svg') 0 center / auto no-repeat;
	}
	// .promo__container
	&__container {
	}
	// .promo__content
	&__content {
		display: flex;
		flex-direction: column;
		@media (min-width: $md3) {
			justify-content: space-between;
			align-items: center;
			flex-direction: row;
		}
	}
	// .promo__offer
	&__offer {
		display: flex;
		flex-direction: column;
		@media (min-width: $md4) {
			align-items: flex-start;
		}
	}
	// .promo__caption
	&__caption {
		display: flex;
		align-items: center;
		gap: 0.44rem;
		color: rgba($color: $text, $alpha: 0.78);
		&::before {
			content: '';
			width: 1.25rem;
			height: 0.125rem;
			border-radius: 6.25rem;
			background: $text;
		}
	}
	// .promo__title
	&__title {
		margin-top: 0.75rem;
		background-image: linear-gradient(87deg, #030619 8.98%, #1d213a 94.96%);
		background-clip: text;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}
	// .promo__desc
	&__desc {
		font-weight: 300;
		font-family: $font-geologica;
		color: rgba($color: $text, $alpha: 0.8);
		max-width: 25.375rem;
		margin-top: 1.25rem;
		line-height: 156.25%;
		@media (min-width: $md4) {
			font-size: 1.125rem;
		}
	}
	// .promo__code
	&__code {
		margin-top: 2.7rem;
		@media (max-width: $md3) {
			order: 1;
		}
	}
	// .promo__actions
	&__actions {
		margin-top: 1.25rem;
		display: flex;
		flex-direction: column;
		gap: 1rem;
		@media (min-width: $md4) {
			gap: 1.13rem;
			flex-wrap: wrap;
			flex-direction: row;
		}
		@media (max-width: $md3) {
			order: 1;
		}
	}
	// .promo__actions-btn
	&__actions-btn {
	}
	// .promo__rate
	&__rate {
		margin-top: 1.13rem;
	}
	// .promo__btn
	&__btn {
	}
	// .promo__info
	&__info {
		position: relative;
		z-index: 1;
		margin-top: 2rem;
		@media (min-width: $md4) {
			&::after {
				content: '';
				position: absolute;
				top: 50%;
				left: 50%;
				width: rem(710);
				height: rem(710);
				transform: translate(-50%, -50%);
				background: url('@img/promo-decor.svg') center / contain no-repeat;
				z-index: -1;
			}
		}
		@media (min-width: $md3) {
			margin-top: 0;
			max-width: 24rem;
		}
		@media (min-width: $md2) {
			max-width: 26.8125rem;
		}
	}
	// .promo__info-content
	&__info-content {
		background: rgba(255, 255, 255, 0.75);
		border: rem(1) solid rgba(0, 0, 0, 0.07);
		box-shadow: 0 0 rem(20.9) 0 rgba(255, 255, 255, 0.11) inset, 0 rem(11) rem(48.2) #fff;
		backdrop-filter: blur(rem(7.4));
		-webkit-backdrop-filter: blur(rem(7.4));
		border-radius: rem(24);
		position: relative;
		z-index: 2;
	}
	// .promo__info-caption
	&__info-caption {
		position: relative;
		color: #3f3131;
		font-size: 0.875rem;
		padding: 1.5rem rem(20) rem(10);
		@media (min-width: $md4) {
			padding: 2.2rem rem(35) rem(10);
			font-size: 1.125rem;
		}
		font-weight: 700;
		line-height: 122.222%;
		text-transform: uppercase;
		position: relative;
		&::before {
			content: '';
			position: absolute;
			top: 50%;
			left: 0;
			border-radius: 0rem 0.3125rem 0.3125rem 0rem;
			background: #38a8fa;
			width: 0.25rem;
			height: 1.5625rem;
		}
	}
	// .promo__info-list
	&__info-list {
		border-top: rem(1) solid rgba(0, 0, 0, 0.04);
	}
	// .promo__info-item
	&__info-item {
		display: flex;
		font-size: 0.75rem;
		@media (min-width: $md5) {
			font-size: 0.875rem;
		}
		line-height: 157.143%;
		border-bottom: 1px solid rgba(0, 0, 0, 0.04);
		&:last-child {
			.promo__info-name {
				padding-bottom: 3rem;
			}
			.promo__info-value {
				padding-bottom: 3rem;
			}
		}
	}
	// .promo__info-name
	&__info-name {
		align-content: center;
		flex: 0 0 50%;
		padding: rem(6) rem(6) rem(6) rem(20);
		@media (min-width: $md4) {
			padding: rem(11.5) rem(11.5) rem(11.5) rem(30);
		}
		border-right: 1px solid rgba(0, 0, 0, 0.04);
	}
	// .promo__info-value
	&__info-value {
		align-content: center;
		flex: 0 0 50%;
		text-align: right;
		font-weight: 500;
		padding: rem(6) rem(20) rem(6) rem(6);
		@media (min-width: $md4) {
			padding: rem(11.5) rem(30) rem(11.5) rem(11.5);
		}
	}
}

.heading {
	background: #fff;
	padding: 3rem 0;
	@media (min-width: $md4) {
		padding: 4.5rem 0;
	}
	// .heading__container
	&__container {
	}
	// .heading__caption
	&__caption {
		display: flex;
		justify-content: space-between;
		align-items: center;
		cursor: pointer;
		&::before {
			order: 1;
			font-size: 0.5em;
			padding: 0.5em 1em;
			transition: transform 0.3s ease 0s;
		}
		&.active {
			&::before {
				transform: rotate(180deg);
			}
		}
	}
	// .heading__body
	&__body {
		margin-top: 3.08rem;
	}
	// .heading__list
	&__list {
		display: grid;
		@media (min-width: $md4) {
			grid-template-columns: repeat(2, 1fr);
		}
	}
	// .heading__list-item
	&__list-item {
	}
	// .heading__list-link
	&__list-link {
		font-family: $font-geologica;
		font-size: 1rem;
		font-weight: 300;
		line-height: 125%;
		display: inline-flex;
		align-items: center;
		gap: 0.63rem;
		transition: color 0.3s ease 0s;
		padding: 1.3rem 1rem;
		@media (min-width: $md4) {
			padding: 1.5rem 1.72rem;
		}
		&::before {
			@extend %ic, .icon-mark;
			width: 1.5625rem;
			height: 1.25rem;
			flex-shrink: 0;
			background-image: linear-gradient(180deg, #0167ca 0%, #38a8fa 100%);
			background-clip: text;
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
		}
		@media (any-hover: hover) {
			&:hover {
				color: #0167ca;
			}
		}
	}
}

.download {
	padding: 3.5rem 0 3rem;
	@media (min-width: $md4) {
		padding: 4.37rem 0 2rem;
		background: url('@img/download/decor.svg') center / 100% auto no-repeat, url('@img/logo-decor.svg') 96% 0 / 21.625rem 8.75rem no-repeat;
	}
	background: url('@img/download/decor.svg') center / 100% auto no-repeat, url('@img/logo-decor.svg') 100% 0 / 14.125rem 8.75rem no-repeat;
	// .download__container
	&__container {
	}
	// .download__title
	&__title {
	}
	// .download__desc
	&__desc {
		margin-top: 1.06rem;
		font-family: $font-geologica;
		font-size: 1rem;
		font-weight: 300;
		line-height: 156.25%;
		@media (min-width: $md4) {
			line-height: 125%;
		}
	}
	// .download__slider
	&__slider {
		position: relative;
		margin-top: 1.81rem;
		@media (min-width: $md2) {
			margin-top: rem(11);
		}
	}
	&__prev {
		@media (max-width: $md2) {
			left: -1rem;
		}
	}
	&__next {
		@media (max-width: $md2) {
			right: -1rem;
		}
	}
	// .download__slider
	&__slider-content {
		overflow: visible;
		@media (min-width: $md2) {
			overflow: hidden;
			padding: rem(57);
		}
	}
	// .download__slide
	&__slide {
		height: auto;
		border-radius: 1.625rem;
		overflow: hidden;
		border: rem(2) solid rgba(0, 0, 0, 0.07);
		box-shadow: 0 rem(11) rem(48.2) 0 rgba(208, 212, 216, 0.44), rem(0) rem(0) rem(20.9) rem(0) rgba(255, 255, 255, 0.11) inset;
		width: 14.25rem;
		@media (min-width: $md2) {
			opacity: 0;
			visibility: hidden;
			width: auto;
			&.swiper-slide-fully-visible {
				opacity: 1;
				visibility: visible;
			}
		}
	}
}

.about {
	padding: 3rem 0 2rem;
	@media (min-width: $md5) {
		padding: 3rem 0 2.5rem;
	}
	// .about__container
	&__container {
	}
	// .about__title
	&__title {
	}
	// .about__desc
	&__desc {
		margin-top: 1rem;
		font-family: $font-geologica;
		font-size: 1rem;
		font-weight: 300;
		opacity: 0.9;
		line-height: 156.25%;
		@media (min-width: $md4) {
			line-height: 125%;
		}
	}
	// .about__table
	&__table {
		&:not(:first-child) {
			margin-top: 1.63rem;
		}
		&.table-sm {
			table {
				min-width: rem(858);
			}
		}
	}
	// .about__more
	&__more {
		margin-top: 1.88rem;
		@media (max-width: $md5) {
			width: 100%;
		}
	}
	// .about__note
	&__note {
		margin-top: rem(30);
	}
	// .about__platform
	&__platform {
		margin-top: rem(26);
		display: flex;
		flex-direction: column;
		@media (min-width: $md3) {
			background: #fff;
			border-radius: 1.25rem;
			box-shadow: 0 rem(2) rem(2) 0 rgba(0, 0, 0, 0.15);
			flex-direction: row;
			gap: 2.15rem;
		}
	}
	// .about__platform-image
	&__platform-image {
		@media (min-width: $md3) {
			padding: 2.56rem 3.5rem;
			flex: 0 0 48.8%;
			background: url('@img/platform-decor.svg') 0 0 / cover no-repeat;
			& img {
				border-radius: 1rem;
			}
		}
	}
	// .about__platform-body
	&__platform-body {
		display: contents;
		@media (min-width: $md3) {
			padding-right: 2rem;
			display: block;
		}
	}
	// .about__platform-tabs
	&__platform-tabs {
		display: flex;
		justify-content: center;
		order: -1;
		@media (min-width: $md4) {
			padding-right: 4rem;
		}
	}
	// .about__platform-tab
	&__platform-tab {
		flex: 0 0 33.33%;
		text-align: center;
		font-size: 1.125rem;
		font-weight: 500;
		padding: 0.75rem;
		@media (max-width: $md3) {
			border-bottom: rem(2) solid transparent;
		}
		@media (min-width: $md3) {
			border-top: rem(2) solid transparent;
		}
		&.active {
			border-color: #38a8fa;
			color: #38a8fa;
			font-weight: 600;
		}
	}
	// .about__platform-blocks
	&__platform-blocks {
		margin-top: 1rem;
		@media (min-width: $md2) {
			margin-top: 3.13rem;
		}
	}
	// .about__platform-block
	&__platform-block {
		display: none;
		@media (min-width: $md4) {
			margin-right: 2.5rem;
			padding: 0 0 2.5rem 0;
		}
		&.active {
			display: block;
		}
		& p {
			font-family: $font-geologica;
			font-size: 1rem;
			font-weight: 300;
			line-height: 125%;
		}
		& ol {
			margin-top: 1.25rem;
			padding-left: 0.25rem;
			font-family: $font-geologica;
			font-size: 1rem;
			font-weight: 300;
			line-height: 125%;
			& li {
				counter-increment: num;
				&::before {
					content: counter(num) '.';
					margin-right: 0.5rem;
				}
			}
		}
	}
	// .about__platform-title
	&__platform-title {
		margin-bottom: 1.25rem;
	}
	// .about__platform-btn
	&__platform-btn {
		margin-top: 1.25rem;
		padding: 1.25rem 2.5rem;
		width: 100%;
		@media (min-width: $md4) {
			width: auto;
		}
	}
}

.popular {
	padding: 2rem 0;
	// .popular__container
	&__container {
	}
	// .popular__header
	&__header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-wrap: wrap;
		gap: 1rem;
	}
	// .popular__title
	&__title {
		@media (max-width: $md5) {
			max-width: 20rem;
		}
	}
	// .popular__btn
	&__btn {
		&::before {
			margin-left: 0.38rem;
			order: 1;
			font-size: 0.65em;
		}
	}
	// .popular__filters
	&__filters {
		margin-top: 2rem;
		overflow: visible;
	}
	// .popular__filter
	&__filter {
		width: auto;
		display: block;
	}
	// .popular__filter-input
	&__filter-input {
		&:checked {
			& + .popular__filter-btn {
				border-radius: 6.25rem;
				background: #38a8fa;
				color: #fff;
			}
		}
	}
	// .popular__filter-btn
	&__filter-btn {
		border-radius: 6.25rem;
		border: rem(2) solid rgba(0, 0, 0, 0.03);
		background: #fff;
		padding: rem(10) rem(32);
		@media (min-width: $md4) {
			padding: 0.88rem 3.38rem;
		}
		font-family: $font-geologica;
		font-weight: 300;
		display: block;
		box-shadow: 0 rem(2) rem(2) 0 rgba(0, 0, 0, 0.15), 0 0 rem(20.9) 0px rgba(255, 255, 255, 0.11) inset;
		transition: color 0.3s ease 0s, background-color 0.3s ease 0s;
		cursor: pointer;
		@media (any-hover: hover) {
			&:hover {
				color: #38a8fa;
			}
		}
	}
	// .popular__items
	&__items {
		margin-top: 2rem;
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(rem(244), 1fr));
		gap: 1.88rem;
	}
	// .popular__item
	&__item {
		display: flex;
		flex-direction: column;
		background: #fff;
		border-radius: 1rem;
		border: rem(1) solid rgba(0, 0, 0, 0.03);
		box-shadow: 0 rem(2) rem(2) 0 rgba(0, 0, 0, 0.15);
	}
	// .popular__item-image
	&__item-image {
		background: rgba(0, 0, 0, 0.03);
		overflow: hidden;
		border-radius: 1rem;
		margin: rem(-1) rem(-1) 0;
		height: 0;
		position: relative;
		padding-bottom: #{math.div(168, 330) * 100%};
		@media (min-width: $md5) {
			padding-bottom: #{math.div(168, 275) * 100%};
		}
		& img {
			position: absolute;
			top: 0;
			left: 0;
			border-radius: 1rem;
		}
	}
	// .popular__item-desc
	&__item-desc {
		padding: rem(22) rem(8) rem(8);
		@media (min-width: $md4) {
			padding: 1.25rem 1.25rem 1.875rem 1.25rem;
		}
	}
	// .popular__item-name
	&__item-name {
		text-align: center;
		font-family: $font-geologica;
		font-size: 1rem;
		font-weight: 700;
		line-height: 150%;
	}
	// .popular__item-btn
	&__item-btns {
		display: flex;
		flex-direction: column;
		margin-top: rem(22);
		gap: rem(12);
		@media (min-width: $md4) {
			display: none;
		}
	}
}

.development {
	padding: 2rem 0;
	@media (min-width: $md4) {
		background: url('@img/development-decor.svg') 0 center / auto no-repeat;
	}
	// .development__container
	&__container {
	}
	// .development__body
	&__body {
		display: flex;
		gap: rem(25);
		flex-direction: column-reverse;
		@media (min-width: $md3) {
			gap: 5.25rem;
			align-items: center;
			flex-direction: row;
		}
	}
	// .development__content
	&__content {
		flex: 1 1 auto;
	}
	// .development__title
	&__title {
		max-width: 32.5rem;
	}
	// .development__desc
	&__desc {
		margin-top: 1.25rem;
		font-family: $font-geologica;
		font-size: 1rem;
		font-weight: 300;
		line-height: 125%;
	}
	// .development__list
	&__list {
		margin-top: 1rem;
		font-family: $font-geologica;
		font-size: 1rem;
		font-weight: 300;
		line-height: 156.25%;
		@media (min-width: $md4) {
			line-height: 125%;
		}
		& li {
			display: flex;
			align-items: center;
			gap: 0.5rem;
			&::before {
				content: '';
				width: 1.25rem;
				height: 0.125rem;
				flex-shrink: 0;
				border-radius: 6.25rem;
				display: block;
				background: currentColor;
			}
			&:not(:last-child) {
				margin-bottom: 0.5rem;
			}
		}
	}
	// .development__image
	&__image {
		border-radius: 1rem;
		border: 1px solid rgba(0, 0, 0, 0.03);
		background: #fff;
		position: relative;
		aspect-ratio: #{math.div(346, 214)};
		@media (min-width: $md5) {
			aspect-ratio: #{math.div(504, 470)};
		}
		& img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
		@media (min-width: $md3) {
			flex-shrink: 0;
			width: 31.5rem;
		}
	}
}

.start {
	padding: 3rem 0;
	// .start__container
	&__container {
	}
	// .start__header
	&__header {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		border-radius: 1.25rem;
		background: url('@img/start-decor.svg') center / cover no-repeat, #fff;
		padding: 2rem 1rem 7.5rem;
		@media (min-width: $md4) {
			padding: 4rem 1rem 7.5rem;
		}
	}
	// .start__footer
	&__footer {
		margin-top: 5.63rem;
		border-radius: 1.25rem;
		background: #fff;
		display: flex;
		flex-direction: column;
		padding: 1.88rem 1rem 1.2rem;
		@media (min-width: $md4) {
			padding: 4rem 1rem 3.5rem;
			align-items: center;
			text-align: center;
		}
	}
	// .start__title
	&__title {
	}
	// .start__desc
	&__desc {
		margin-top: 1.25rem;
		font-family: $font-geologica;
		font-size: 1rem;
		font-weight: 300;
		max-width: 62.5625rem;
		opacity: 0.9;
		line-height: 156.25%;
		@media (min-width: $md4) {
			text-align: center;
			line-height: 125%;
		}
		& a {
			color: #38a8fa;
			text-decoration: underline;
		}
		& p {
			&:not(:last-child) {
				margin-bottom: 1.25rem;
			}
		}
	}
	// .start__list
	&__list {
		display: grid;
		margin-top: -5rem;
		gap: 0.94rem;
		@media (min-width: $md4) {
			grid-template-columns: repeat(6, 1fr);
		}
		@media (min-width: $md2) {
			gap: rem(36);
			padding: 0 rem(65);
		}
	}
	// .start__item
	&__item {
		display: flex;
		flex-direction: column;
		align-items: center;
		border-radius: 1.25rem;
		border: rem(3) solid rgba(0, 0, 0, 0.03);
		overflow: hidden;
		background: #fff;
		counter-increment: num;
		text-align: center;
		gap: rem(19);
		@media (min-width: $md4) {
			grid-column: span 2;
		}
		&:nth-child(odd) {
			padding: 2.38rem rem(26) 0;
			.start__item-image {
				margin-top: auto;
				& img {
					border-radius: 1.625rem 1.625rem 0 0;
					border-bottom: 0;
				}
			}
		}
		&:nth-child(even) {
			padding: 0 rem(26) 2.38rem;
			.start__item-image {
				order: -1;
				margin-bottom: auto;
				& img {
					border-top: 0;
					border-radius: 0 0 1.625rem 1.625rem;
				}
			}
		}
		&:nth-last-child(1),
		&:nth-last-child(2) {
			@media (min-width: $md4) {
				grid-column: span 3;
			}
			padding: 2.38rem rem(26) 0;
			gap: 2.44rem;
			.start__item-image {
				margin-top: auto;
				order: 0;
				& img {
					border-radius: 1.625rem 1.625rem 0 0;
					border-bottom: 0;
					border-top: rem(5) solid;
				}
			}
		}
	}
	// .start__item-caption
	&__item-caption {
		display: flex;
		flex-direction: column;
		&::before {
			content: '0' counter(num);
			font-size: 2.1875rem;
			font-family: $font-geologica;
			font-weight: 500;
			background-image: linear-gradient(0deg, #0167ca -13.79%, #38a8fa 102.34%);
			background-clip: text;
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
		}
	}
	// .start__item-desc
	&__item-desc {
		margin-top: 1rem;
		font-family: $font-geologica;
		font-size: 1rem;
		font-weight: 300;
		line-height: 125%;
		& a {
			color: #38a8fa;
			text-decoration: underline;
			@media (any-hover: hover) {
				&:hover {
					text-decoration: none;
				}
			}
		}
	}
	// .start__item-image
	&__item-image {
		position: relative;
		z-index: 1;
		display: block;
		max-width: rem(191);
		aspect-ratio: #{math.div(191, 252)};
		&::before {
			content: '';
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			width: rem(298);
			height: rem(298);
			background: url('@img/start-decor-circles.svg') center / contain no-repeat;
			z-index: -1;
		}
		& img {
			position: relative;
			z-index: 2;
			border-radius: 1.625rem;
			border: rem(5) solid #333;
			background: #fff;
			box-shadow: 0 rem(11) rem(48.2) rem(0) rgba(208, 212, 216, 0.44), 0 0 rem(20.9) 0 rgba(255, 255, 255, 0.11) inset;
		}
		&.start__item-image-lg {
			aspect-ratio: #{math.div(191, 272)};
		}
	}
	// .start__item-btn
	&__item-btn {
		position: absolute;
		left: 50%;
		z-index: 2;
		bottom: 3.5rem;
		transform: translateX(-50%);
	}
}

.steps {
	padding: 1.25rem 0;
	// .steps__container
	&__container {
	}
	// .steps__list
	&__list {
	}
	// .steps__item
	&__item {
		position: relative;
		display: flex;
		counter-increment: num;
		gap: 0.5rem;
		@media (min-width: $md4) {
			gap: 1.81rem;
		}
		&::before {
			content: '0' counter(num);
			border-radius: 50%;
			background: #fff;
			width: 2.5rem;
			height: 2.5rem;
			font-size: 1.11113rem;
			@media (min-width: $md4) {
				font-size: 2rem;
				width: 4.5rem;
				height: 4.5rem;
			}
			flex-shrink: 0;
			box-shadow: 0 rem(2) rem(2) 0 rgba(0, 0, 0, 0.15);
			display: flex;
			justify-content: center;
			align-items: center;
			color: #38a8fa;

			font-weight: 600;
			line-height: 150%;
			position: relative;
			z-index: 2;
		}
		&:not(:last-child) {
			margin-bottom: 1.25rem;
			@media (min-width: $md4) {
				margin-bottom: 2rem;
			}
			&::after {
				content: '';
				position: absolute;
				top: 0;
				left: 1.25rem;
				@media (min-width: $md4) {
					left: 2.25rem;
				}
				width: 0.11875rem;
				height: 100%;
				background: #e0e0e0;
			}
		}
	}
	&__item-main {
		display: flex;
		flex-direction: column;
		gap: 1rem;
		@media (min-width: $md3) {
			display: contents;
		}
	}
	// .steps__item-content
	&__item-content {
		max-width: 31.5rem;
	}
	// .steps__item-title
	&__item-title {
		font-size: 1.5rem;
		font-weight: 700;
		line-height: 133.333%;
	}
	// .steps__item-desc
	&__item-desc {
		margin-top: 1rem;
		font-size: 1rem;
		line-height: 150%;
	}
	// .steps__item-btn
	&__item-btn {
		margin-top: 3.88rem;
		@media (max-width: $md5) {
			margin-top: 1rem;
			width: 100%;
		}
	}
	// .steps__item-image
	&__item-image {
		order: -1;
		@media (min-width: $md3) {
			margin-left: auto;
			order: 0;
		}
		flex-shrink: 0;
		aspect-ratio: math.div(465, 264);
		& img {
			border-radius: 1rem;
			background: #fff;
		}
	}
	// .steps__note
	&__note {
		margin-top: 4.38rem;
	}
}

.text-block {
	padding: 2.5rem 0 0;
	& + .text-block {
		margin-top: 8rem;
	}
	// .text-block__container
	&__container {
	}
	// .text-block__body
	&__body {
		display: flex;
		flex-direction: column;
		@media (min-width: $md3) {
			gap: rem(48);
			flex-direction: row;
		}
	}
	// .text-block__image
	&__image {
		order: 1;
		margin-top: 1.56rem;
		@media (min-width: $md3) {
			margin-top: 0;
			order: 0;
			max-width: rem(420);
		}
		@media (min-width: $md2) {
			max-width: rem(510);
		}
		flex-shrink: 0;
		width: 100%;
		& img {
			border-radius: 1.25rem;
		}
		&:last-child {
			position: relative;
			order: -1;
			margin-top: 0;
			margin-bottom: 1.56rem;
			@media (min-width: $md3) {
				margin-bottom: 0;
				order: 0;
			}
			&::before {
				content: '';
				position: absolute;
				top: -6.25rem;
				right: -6.25rem;
				width: 27.64194rem;
				height: 27.64194rem;
				background: url('@img/text-block-decor.svg') center / contain no-repeat;
				z-index: -1;
			}
		}
	}
	// .text-block__content
	&__content {
		display: contents;
		@media (min-width: $md3) {
			display: block;
			max-width: 34.25rem;
			margin-right: auto;
		}
	}
	// .text-block__title
	&__title {
	}
	// .text-block__desc
	&__desc {
		margin-top: 1.25rem;
		font-family: $font-geologica;
		font-size: 1rem;
		font-weight: 300;
		line-height: 125%;
	}
	// .text-block__btn
	&__btn {
		margin-top: 1.56rem;
		order: 1;
		@media (min-width: $md3) {
			margin-top: 2.88rem;
			order: 0;
		}
	}
}

.welcome {
	display: flex;
	flex-direction: column-reverse;
	@media (min-width: $md4) {
		flex-direction: row;
	}
	& + .welcome {
		margin-top: 3.13rem;
		@media (min-width: $md4) {
			margin-top: 0;
		}
	}
	// .welcome__image
	&__image {
		position: relative;
		z-index: 2;
		flex: 0 0 43%;
	}
	// .welcome__wrapper
	&__wrapper {
		flex: 0 0 57%;

		&:first-child {
			padding-left: calc((100vw - rem(540)) / 2);
			@media (min-width: $md4) {
				padding-left: calc((100vw - rem(704)) / 2);
			}
			@media (min-width: $md3) {
				padding-left: calc((100vw - rem(960)) / 2);
			}
			@media (min-width: $md2) {
				padding-left: calc((100vw - rem(1200)) / 2);
			}
			.welcome__content {
				padding: 3.12rem 1.38rem 2.5rem;
				@media (min-width: $md5) {
					padding: 5.25rem 5rem 3.75rem 0;
				}
			}
		}
		&:last-child {
			background: linear-gradient(87deg, #030619 8.98%, #1d213a 94.96%);
			color: #fff;
			@media (min-width: $md5) {
				padding-right: calc((100vw - rem(540)) / 2);
			}
			@media (min-width: $md4) {
				padding-right: calc((100vw - rem(704)) / 2);
			}
			@media (min-width: $md3) {
				padding-right: calc((100vw - rem(960)) / 2);
			}
			@media (min-width: $md2) {
				padding-right: calc((100vw - rem(1230)) / 2);
			}
			.welcome__content {
				padding: 3.12rem 1.38rem 2.5rem;
				@media (min-width: $md5) {
					padding: 3.75rem 0 3.75rem 5rem;
				}
			}
		}
	}
	// .welcome__container
	&__container {
	}
	// .welcome__content
	&__content {
	}
	// .welcome__title
	&__title {
	}
	// .welcome__desc
	&__desc {
		margin-top: 1.25rem;
		font-family: $font-geologica;
		font-size: 1rem;
		font-weight: 300;
		line-height: 125%;
		opacity: 0.9;
		& ul {
			margin-top: 1.25rem;
		}
	}
	// .welcome__btn
	&__btn {
		margin-top: 2.88rem;
		width: 100%;
		@media (min-width: $md5) {
			width: auto;
		}
	}
}

.video {
	padding: rem(70) 0 rem(60);
	@media (min-width: $md4) {
		padding: rem(70) 0 rem(90);
	}
	background: url('@img/video-bg.svg') 0 center / 100% auto no-repeat;
	// .video__container
	&__container {
	}
	// .video__title
	&__title {
		text-align: center;
	}
	// .video__desc
	&__desc {
		max-width: rem(830);
		margin: 1rem auto 0;
		text-align: center;
		font-family: $font-geologica;
		font-size: 1rem;
		font-weight: 300;
		line-height: 156.25%;
		@media (min-width: $md5) {
			line-height: 125%;
		}
	}
	// .video__block
	&__block {
		position: relative;
		margin-top: 1.62rem;
		display: block;
		min-height: 10.4375rem;
		& img {
			border-radius: 1.125rem;
		}
		&::before {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			color: #38a8fa;
			width: 4.79688rem;
			height: 4.79688rem;
			font-size: 2rem;
			@media (min-width: $md4) {
				font-size: 5rem;
				width: rem(98);
				height: rem(108);
			}
			display: flex;
			justify-content: center;
			align-items: center;
			background-image: url("data:image/svg+xml,%3Csvg width='98' height='108' viewBox='0 0 98 108' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath opacity='0.09' d='M89.75 67.7085L24.5 105.381C14.1667 111.347 1.24999 103.889 1.25 91.9573L1.25 16.6131C1.25 4.68115 14.1667 -2.7763 24.5 3.18965L89.75 40.8618C100.083 46.8277 100.083 61.7426 89.75 67.7085Z' stroke='%2338A8FA'/%3E%3C/svg%3E%0A");
		}
	}
	// .video__btn
	&__btn {
		display: flex;
		font-family: $font-geologica;
		font-size: 1.125rem;
		font-weight: 500;
		width: 100%;
		margin: 1.88rem auto 0;
		@media (min-width: $md5) {
			margin: 1.45rem auto 0;
			padding: 1.25rem 6.38rem;
			width: fit-content;
		}
	}
}

.desc {
	padding: 4.38rem 0 3rem;
	overflow: hidden;
	// .desc__container
	&__container {
	}
	// .desc__cards
	&__cards {
	}
	// .desc__card
	&__card {
		position: relative;
		z-index: 1;
		&::before {
			content: '';
			position: absolute;
			top: -50%;
			left: 0;
			width: 78.55638rem;
			height: 22.63319rem;
			transform: rotate(7.008deg);
			flex-shrink: 0;
			border-radius: 78.55638rem;
			background: #f5f7f9;
			filter: blur(rem(50));
			z-index: -1;
		}
		border-radius: 1.25rem;

		display: flex;
		background: url('@img/desc-decor.svg') 0 100% / auto no-repeat, #fff;

		flex-direction: column;
		padding: 1rem;
		gap: 1rem;
		@media (min-width: $md3) {
			gap: 2.56rem;
			padding: rem(60) rem(55) rem(60) rem(65);
			justify-content: space-between;
			align-items: center;
			flex-direction: row;
		}
		&:not(:last-child) {
			margin-bottom: rem(30);
		}
		&:nth-child(1) {
			z-index: 2;
		}
		&:nth-child(2) {
			padding-bottom: rem(32);
		}
	}
	// .desc__card-body
	&__card-body {
		max-width: 34.25rem;
	}
	// .desc__card-caption
	&__card-caption {
	}
	// .desc__card-text
	&__card-text {
		margin-top: 1rem;
		font-family: $font-geologica;
		font-size: 1rem;
		font-weight: 300;
		line-height: 125%;
		& a {
			text-decoration: underline;
			color: #38a8fa;
		}
	}
	// .desc__card-image
	&__card-image {
		width: 100%;
		@media (min-width: $md3) {
			flex-shrink: 0;
			max-width: 25rem;
		}
		@media (min-width: $md2) {
			max-width: 29.1875rem;
		}
		&:last-child {
			@media (min-width: $md3) {
				max-width: rem(350);
			}
			@media (min-width: $md2) {
				max-width: rem(417);
			}
		}
		& img {
			border-radius: 1rem;
		}
		&.bordered {
			& img {
				border: rem(1) solid #38a8fa;
			}
		}
	}
	// .desc__card-content
	&__card-content {
		flex: 1 1 auto;
	}
	// .desc__card-list
	&__card-list {
		margin-top: 2rem;
		font-family: $font-geologica;
		font-size: 1rem;
		font-weight: 300;
		line-height: 125%;
	}
	// .desc__card-item
	&__card-item {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		column-gap: 3rem;
		&:not(:last-child) {
			margin-bottom: 0.62rem;
		}
	}
	// .desc__card-property
	&__card-property {
		flex: 0 0 15%;
	}
	// .desc__card-value
	&__card-value {
		transition: color 0.3s ease 0s;
		word-break: break-all;
		@media (any-hover: hover) {
			&:hover {
				color: #38a8fa;
			}
		}
	}
	// .desc__card-btn
	&__card-btn {
		width: 100%;
		margin-top: 2rem;
		@media (min-width: $md5) {
			margin-top: 3.25rem;
			width: auto;
		}
	}
	// .desc__cards-socials
	&__cards-socials {
		display: flex;
		align-items: center;
		gap: 0.75rem;
		margin-top: 1rem;
		@media (min-width: $md5) {
			justify-content: flex-end;
			margin-top: 0;
		}
	}
	// .desc__card-social
	&__card-social {
		background: rgba(51, 51, 51, 0.3);
		color: #fff;
		width: 1.875rem;
		height: 1.875rem;
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: rem(8.25);
		font-size: 1.25rem;
		&.icon-mail {
			font-size: 1rem;
		}
		transition: background-color 0.3s ease 0s;
		@media (any-hover: hover) {
			&:hover {
				background-color: rgba(51, 51, 51, 0.5);
			}
		}
	}
}

.confidential {
	padding: 3.13rem 0 1.88rem;
	@media (min-width: $md5) {
		padding: rem(84) 0 rem(62);
	}
	background: url('@img/confidential-decor.svg') center 0 / contain no-repeat, #fff;
	// .confidential__container
	&__container {
	}
	// .confidential__title
	&__title {
		text-align: center;
	}
	// .confidential__desc
	&__desc {
		max-width: 62.5625rem;
		text-align: center;
		font-family: $font-geologica;
		font-weight: 300;
		opacity: 0.9;
		font-size: 0.875rem;
		line-height: 142.857%;
		margin: 0.75rem auto 0;
		@media (min-width: $md5) {
			line-height: 125%;
			margin: 1.25rem auto 0;
			font-size: 1rem;
		}
		& a {
			color: #38a8fa;
			text-decoration: underline;
			@media (any-hover: hover) {
				&:hover {
					text-decoration: none;
				}
			}
		}
	}
	// .confidential__cards
	&__cards {
		margin-top: 3.5rem;
		display: grid;
		gap: 2.25rem;
		@media (min-width: $md4) {
			grid-template-columns: repeat(2, 1fr);
		}
		@media (min-width: $md2) {
			padding: 0 4.06rem;
		}
	}
	// .confidential__card
	&__card {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		border-radius: 1.25rem;
		border: rem(3) solid rgba(0, 0, 0, 0.03);
		background: url('@img/confidential-card-decor.svg') center 0 / contain no-repeat, #f5f7f9;
		padding: 2.69rem 1rem 3rem;
		@media (min-width: $md5) {
			padding: 3.44rem 1rem 3rem;
		}
	}
	// .confidential__card-icon
	&__card-icon {
	}
	// .confidential__card-title
	&__card-title {
		margin-top: 0.62rem;
		max-width: 26rem;
	}
	// .confidential__card-desc
	&__card-desc {
		margin-top: 1rem;
		color: rgba($color: #333, $alpha: 0.6);
		text-align: center;
		font-family: $font-geologica;
		font-size: 1rem;
		font-weight: 300;
		line-height: 156.25%;
		@media (min-width: $md5) {
			line-height: 125%;
		}
	}
	// .confidential__card-items
	&__card-items {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 1.22rem;
		font-family: $font-geologica;
		font-size: 1rem;
		font-weight: 300;
		line-height: 125%;
		padding: 0 1rem;
		margin-top: 0.5rem;
		@media (min-width: $md5) {
			flex-wrap: wrap;
			flex-direction: row;
			margin-top: 1.84rem;
		}
	}
	// .confidential__card-item
	&__card-item {
		display: flex;
		align-items: center;
		gap: 0.56rem;
		& span {
			width: 1.5625rem;
			height: 1.5625rem;
		}
	}
}

.safety {
	background: #fff;
	padding: 1.88rem 0 1.87rem;
	@media (min-width: $md5) {
		padding: rem(46) 0 rem(75);
	}
	// .safety__container
	&__container {
	}
	// .safety__title
	&__title {
		text-align: center;
	}
	// .safety__desc
	&__desc {
		text-align: center;
		font-family: $font-geologica;
		max-width: 62.5625rem;
		color: rgba($color: $text, $alpha: 0.8);
		font-size: 0.875rem;
		line-height: 142.857%;
		margin: 1rem auto 0;
		@media (min-width: $md5) {
			margin: 1.25rem auto 0;
			line-height: 125%;
			font-weight: 300;
			font-size: 1rem;
		}
	}
	// .safety__list
	&__list {
		margin: 2.75rem auto 0;
		max-width: rem(1062);
		border-radius: 1.25rem;
		border: rem(3) solid rgba(0, 0, 0, 0.03);
		background: #f5f7f9;
		padding: 3rem 1.12rem 2.5rem;
		@media (min-width: $md5) {
			padding: 3.75rem 4.31rem 3.45rem 4.31rem;
		}
	}
	// .safety__item
	&__item {
		display: flex;
		gap: 0.63rem;
		&:not(:last-child) {
			margin-bottom: 3.15rem;
		}
	}
	// .safety__item-icon
	&__item-icon {
		flex-shrink: 0;
	}
	// .safety__item-body
	&__item-body {
	}
	// .safety__item-caption
	&__item-caption {
		font-size: 1.125rem;
		font-weight: 500;
	}
	// .safety__item-text
	&__item-text {
		margin-top: 0.5rem;
		font-family: $font-geologica;
		font-size: 1rem;
		font-weight: 300;
		line-height: 125%;
		color: rgba($color: $text, $alpha: 0.6);
	}
}

.faq {
	padding: 2.5rem 0 2rem;
	@media (min-width: $md4) {
		background: url('@img/logo-decor.svg') 92% 6rem / auto no-repeat;
		padding: 4.37rem 0;
	}
	// .faq__container
	&__container {
	}
	// .faq__caption
	&__caption {
		font-size: 1.125rem;
		font-weight: 500;
		text-transform: uppercase;
		color: rgba($color: $text, $alpha: 0.78);
		gap: 0.44rem;
		display: flex;
		align-items: center;
		&::before {
			content: '';
			width: 1.25rem;
			height: 0.125rem;
			border-radius: 6.25rem;
			background: $text;
		}
	}
	// .faq__title
	&__title {
		margin-top: 1rem;
	}
	// .faq__list
	&__list {
		margin-top: 1.88rem;
	}
	// .faq__item
	&__item {
		border-radius: 1.25rem;
		border: rem(1) solid rgba(0, 0, 0, 0.03);
		background: #fff;
		box-shadow: 0 rem(1) rem(3) 0 rgba(0, 0, 0, 0.15);
		&:not(:last-child) {
			margin-bottom: 0.75rem;
		}
		padding: 0.5rem 1.1rem;
		@media (min-width: $md5) {
			padding: 0.5rem 1.5rem;
		}
	}
	// .faq__item-caption
	&__item-caption {
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 100%;
		font-weight: 700;
		text-align: left;
		font-size: 1rem;
		@media (min-width: $md5) {
			font-size: 1.125rem;
		}
		&::before {
			order: 1;
			width: 2rem;
			height: 2rem;
			font-size: 0.5rem;
			@media (min-width: $md5) {
				font-size: 0.75rem;
				width: rem(47);
				height: rem(47);
			}
			display: flex;
			justify-content: center;
			align-items: center;
			flex-shrink: 0;
			box-shadow: 0 rem(1) rem(3) 0 rgba(0, 0, 0, 0.15);
			border-radius: 50%;
			transition: transform 0.3s ease 0s, color 0.3s ease 0s;
		}
		&.active {
			&::before {
				transform: rotate(180deg);
				color: #38a8fa;
			}
		}
		& span {
			display: inline-flex;
			align-items: center;
			gap: 0.86rem;
			&::before {
				@extend %ic, .icon-mark;
				font-size: 1rem;
				flex-shrink: 0;
				background-image: linear-gradient(180deg, #0167ca 0%, #38a8fa 100%);
				background-clip: text;
				-webkit-background-clip: text;
				-webkit-text-fill-color: transparent;
			}
		}
	}
	// .faq__item-answer
	&__item-answer {
		display: none;
		font-family: $font-geologica;
		font-size: 0.875rem;
		@media (min-width: $md5) {
			font-size: 1rem;
		}
		font-weight: 300;
		line-height: 125%;
		max-width: calc(100% - rem(60));
		padding-bottom: 0.5em;
		& ol {
			margin-top: 1.25em;
			padding-left: 1.25em;
			list-style: decimal;
		}
	}
}

.rating {
	padding: 3.5rem 0 2rem;
	@media (min-width: $md5) {
		padding: 4.37rem 0;
	}
	// .rating__container
	&__container {
	}
	// .rating__header
	&__header {
		display: flex;
		flex-direction: column;
		gap: 1.41rem;
		@media (min-width: $md4) {
			align-items: center;
			flex-direction: row;
			justify-content: space-between;
		}
	}
	// .rating__column
	&__column {
		display: flex;
		flex-direction: column;
		&:first-child {
			align-items: center;
		}
		&:last-child {
			flex-direction: row;
			align-items: center;
			justify-content: space-between;
			gap: 0.37rem;
			@media (min-width: $md4) {
				flex-direction: column;
				align-items: flex-end;
			}
		}
	}
	// .rating__title
	&__title {
		font-weight: 700;
		font-size: 1.5rem;
		@media (min-width: $md5) {
			font-size: 2.25rem;
		}
	}
	// .rating__stars
	&__stars {
		margin-top: 1.38rem;
		display: flex;
		gap: 0.5rem;
		@media (min-width: $md5) {
			gap: 0.95rem;
		}
	}
	// .rating__star
	&__star {
		max-width: 2.5rem;
		@media (min-width: $md5) {
			max-width: 3.5rem;
		}
	}
	// .rating__block
	&__block {
	}
	// .rating__btn
	&__btn {
		@media (max-width: $md5) {
			font-size: 0.9375rem;
			padding: 0.88rem;
			border-radius: 0.75rem;
			width: 100%;
		}
		@media (min-width: $md5) {
			margin-top: 1rem;
		}
	}
	// .rating__content
	&__content {
		position: relative;
		margin-top: 1.53rem;
		@media (min-width: $md5) {
			margin-top: 2.94rem;
		}
	}
	// .rating__slider
	&__slider {
		padding: rem(3);
	}
	// .rating__slide
	&__slide {
		border-radius: 1.25rem;
		border: rem(3) solid rgba(0, 0, 0, 0.03);
		background: #fff;
		box-shadow: 0 rem(1) rem(3) 0 rgba(0, 0, 0, 0.15);
		height: auto;
		padding: 1.38rem rem(12);
		@media (min-width: $md4) {
			padding: 2.5rem;
		}
	}
	// .rating__slide-header
	&__slide-header {
		display: flex;
		gap: 1rem;
	}
	// .rating__slide-icon
	&__slide-icon {
		flex-shrink: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 50%;
		border: rem(2) solid #e0e0e0;
		width: 2.75rem;
		height: 2.75rem;
		@media (min-width: $md5) {
			width: 3.9375rem;
			height: 3.9375rem;
		}
	}
	// .rating__slide-content
	&__slide-content {
		display: flex;
		flex-wrap: wrap;
		flex: 1 1 auto;
		row-gap: 0.25rem;
		.rate__items {
			margin-top: 0.25rem;
			@media (min-width: $md2) {
				margin-top: 0.88rem;
			}
		}
	}
	// .rating__slide-name
	&__slide-name {
		font-weight: 700;
		font-size: 1rem;
		@media (min-width: $md5) {
			font-size: 1.125rem;
		}
	}
	// .rating__slide-time
	&__slide-time {
		margin-left: auto;
		text-align: right;
		color: rgba($color: $text, $alpha: 0.6);
		font-family: $font-geologica;
		font-weight: 300;
		line-height: 125%;
		align-self: flex-end;
		font-size: 0.875rem;
		@media (min-width: $md5) {
			font-size: 1rem;
		}
	}
	// .rating__slide-quote
	&__slide-quote {
		margin-top: 1.25rem;
		font-family: $font-geologica;
		font-size: 1rem;
		font-weight: 300;
		line-height: 125%;
		color: rgba($color: $text, $alpha: 0.6);
	}
	// .rating__prev
	&__prev {
		left: -1rem;
		@media (min-width: $md5) {
			left: -1.4rem;
		}
	}
	// .rating__next
	&__next {
		right: -1rem;
		@media (min-width: $md5) {
			right: -1.4rem;
		}
	}
}

.articles {
	padding: 4rem 0 3rem;
	@media (min-width: $md5) {
		padding: 4rem 0;
	}
	// .articles__container
	&__container {
	}
	// .articles__title
	&__title {
		text-align: center;
	}
	// .articles__desc
	&__desc {
		text-align: center;
		font-family: $font-geologica;
		font-weight: 300;
		line-height: 125%;
		font-size: 0.875rem;
		margin-top: rem(12);
		@media (min-width: $md5) {
			margin-top: 1.25rem;
			font-size: 1rem;
		}
	}
	// .articles__list
	&__list {
		display: grid;
		margin-right: rem(-20);
		margin-left: rem(-20);
		gap: 0.75rem;
		margin-top: 1.88rem;
		@media (min-width: $md5) {
			margin-top: 3.75rem;
			gap: 1.5rem;
			margin-left: 0;
			margin-right: 0;
			grid-template-columns: repeat(2, 1fr);
		}
		@media (min-width: $md2) {
			grid-template-columns: repeat(3, 1fr);
			align-items: start;
		}
	}
	// .articles__item
	&__item {
		@media (min-width: $md2) {
			&:nth-child(even) {
				margin-top: 1rem;
			}
		}
	}
	// .articles__card
	&__card {
		display: flex;
		align-items: center;
		border-radius: 0.875rem;
		border: rem(3) solid rgba(0, 0, 0, 0.03);
		background: #fff;
		box-shadow: 0 rem(1) rem(3) 0 rgba(0, 0, 0, 0.15);
		background: #fff;
		padding: 0.62rem 1.38rem;
		gap: 1.06rem;
		@media (min-width: $md5) {
			padding: 0;
			gap: 0;
			align-items: stretch;
			flex-direction: column;
		}
	}
	// .articles__card-image
	&__card-image {
		position: relative;
		width: 5.375rem;
		height: 5.625rem;
		flex-shrink: 0;
		@media (min-width: $md5) {
			height: 0;
			padding-bottom: 50%;
			width: calc(100% + rem(6));
			margin: rem(-3) rem(-3) 0;
		}
		& img {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			border-radius: 0.875rem;
		}
		&::before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			border-radius: 0.375rem;
			background: linear-gradient(187deg, rgba(77, 77, 77, 0) -0.6%, rgba(47, 45, 45, 0.62) 105.17%);
		}
	}
	// .articles__card-desc
	&__card-desc {
		display: flex;
		flex-direction: column;
		@media (min-width: $md5) {
			padding: 1.5rem 1.25rem 1.62rem;
		}
	}
	// .articles__card-time
	&__card-time {
		color: rgba($color: $text, $alpha: 0.6);
		font-family: $font-geologica;
		font-weight: 300;
		line-height: 125%;
		font-size: 0.875rem;
		@media (min-width: $md5) {
			font-size: 1rem;
		}
	}
	// .articles__card-name
	&__card-name {
		margin-top: 0.56rem;
		font-weight: 700;
		font-size: 1rem;
		@media (min-width: $md5) {
			font-size: 1.125rem;
		}
	}
	// .articles__card-text
	&__card-text {
		margin-top: 0.56rem;
		color: rgba($color: $text, $alpha: 0.7);
		font-family: $font-geologica;
		font-weight: 300;
		font-size: 0.875rem;
		line-height: 125%;
		@media (min-width: $md5) {
			font-size: 1rem;
		}
	}
	// .articles__more
	&__more {
		display: flex;
		max-width: 19.5625rem;
		margin: 1.87rem auto 0;
		@media (min-width: $md2) {
			margin: 1.25rem auto 0;
			max-width: 100%;
			width: calc(33.333% - 0.75rem);
		}
	}
}
