@font-face {
  font-family: "Geologica";
  font-display: swap;
  src: url("../fonts/Geologica-Bold.woff") format("woff"), url("../fonts/Geologica-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Geologica";
  font-display: swap;
  src: url("../fonts/Geologica-ExtraLight.woff") format("woff"), url("../fonts/Geologica-ExtraLight.woff2") format("woff2");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Geologica";
  font-display: swap;
  src: url("../fonts/Geologica-SemiBold.woff") format("woff"), url("../fonts/Geologica-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Geologica";
  font-display: swap;
  src: url("../fonts/Geologica-Regular.woff") format("woff"), url("../fonts/Geologica-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Geologica";
  font-display: swap;
  src: url("../fonts/Geologica-Light.woff") format("woff"), url("../fonts/Geologica-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "icons";
  font-display: swap;
  src: url("../fonts/icons.woff") format("woff"), url("../fonts/icons.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("../fonts/Montserrat-Bold.woff") format("woff"), url("../fonts/Montserrat-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Geologica";
  font-display: swap;
  src: url("../fonts/Geologica-Medium.woff") format("woff"), url("../fonts/Geologica-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("../fonts/Montserrat-Medium.woff") format("woff"), url("../fonts/Montserrat-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("../fonts/Montserrat-Regular.woff") format("woff"), url("../fonts/Montserrat-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("../fonts/Montserrat-SemiBold.woff") format("woff"), url("../fonts/Montserrat-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

.heading__list-link::before,
.swiper-button-next::before,
.swiper-button-prev::before,
[class^=icon-]:before,
[class*=" icon-"]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  speak: never;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^=icon-]:before,
[class*=" icon-"]:before {
  display: block;
}

.icon-arrow:before {
  content: "\e900";
}

.icon-chevron:before,
.swiper-button-next:before,
.swiper-button-prev:before {
  content: "\e901";
}

.icon-close:before {
  content: "\e902";
}

.icon-cloud:before {
  content: "\e903";
}

.icon-copy:before {
  content: "\e904";
}

.icon-instagram:before {
  content: "\e90d";
}

.icon-lock:before {
  content: "\e90e";
}

.icon-mail:before {
  content: "\e90f";
}

.icon-mark:before,
.heading__list-link:before {
  content: "\e910";
}

.icon-next:before {
  content: "\e911";
}

.icon-play:before {
  content: "\e912";
}

.icon-prev:before {
  content: "\e913";
}

.icon-star:before {
  content: "\e914";
}

.icon-telegram:before {
  content: "\e915";
}

.icon-trash:before {
  content: "\e916";
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  min-width: 320px;
  min-height: 100%;
  line-height: normal;
  color: #333;
  background: #f5f7f9;
}

body.lock {
  overflow: hidden;
}

.wrapper {
  position: relative;
  width: 100%;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow-x: clip;
}

[class*=__container] {
  margin: 0 auto;
  max-width: 100%;
  padding: 0 1.25rem;
}

.fancybox__container {
  max-width: 100% !important;
  padding: 0 !important;
}

.fancybox__slide {
  padding: 1.25rem;
}

.fancybox__backdrop {
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

.fancybox__content {
  color: inherit;
  background: none;
  padding: 0;
}

.fancybox__content :focus:not(.carousel__button.is-close) {
  outline: none;
}

.popup {
  display: none;
  width: 100%;
  padding: 0;
  background: none;
  max-width: 29.125rem;
}

.no-webp .popup__body {
  background: url("../img/modal.png") 0 0/cover no-repeat, #060606; }

.popup__body {
  border-radius: 1.25rem;
  border: 1px solid #444;
  color: #fff;
  width: 100%;
  padding: 2.06rem 1.125rem 2.25rem;
  background-blend-mode: hard-light;
}

.popup__close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: 1rem;
  height: 1rem;
  background: none;
}

.popup__close img {
  width: 100%;
}

.popup__title {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
}

.popup__form {
  margin-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.88rem;
}

.caption {
  font-size: 1.125rem;
  font-weight: 500;
  text-transform: uppercase;
}

.title {
  font-size: 2.25rem;
  font-weight: 700;
  text-transform: uppercase;
}

.title-xl {
  font-size: 3.75rem;
  font-weight: 800;
}

.title-sm {
  font-size: 1.375rem;
  font-weight: 700;
}

.title-md {
  font-size: 2rem;
  font-weight: 700;
  line-height: 125%;
}

.font-normal {
  font-weight: 400;
}

.promocode {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.19rem;
}

.promocode__value {
  border-radius: 0.4375rem;
  border: 1px dashed #030619;
  background: #fff;
  -webkit-box-shadow: 0 0 1.30625rem 0 rgba(255, 255, 255, 0.11) inset;
          box-shadow: 0 0 1.30625rem 0 rgba(255, 255, 255, 0.11) inset;
  text-align: center;
  padding: 0.75rem;
  width: 16.9375rem;
  font-size: 1.125rem;
}

.promocode__btn.btn {
  padding: 0.875rem 1.35rem;
  font-size: 1.35rem;
  border-radius: 0.4375rem;
}

.rate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.63rem;
  font-family: "Geologica";
}

.rate__value {
  font-size: 3rem;
  font-weight: 500;
}

.rate__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.1rem;
}

.rate__item {
  font-size: 1rem;
  color: #e8e8e8;
  width: 1.22056rem;
  height: 1.22056rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.rate__item.active {
  color: #fec900;
}

.rate__subtitle {
  margin-top: 0.12rem;
  font-size: 1rem;
  font-weight: 300;
}

[data-copy] {
  position: relative;
}

[data-copy] .tooltip {
  position: absolute;
  bottom: calc(100% + 0.625rem);
  right: 0;
  opacity: 0;
  visibility: hidden;
  background: #333;
  color: #fff;
  padding: 0.5rem;
  font-size: 0.75rem;
  border-radius: 0.25rem;
  -webkit-transition: opacity 0.3s ease 0s, visibility 0.3s ease 0s;
  transition: opacity 0.3s ease 0s, visibility 0.3s ease 0s;
}

[data-copy] .tooltip.visible {
  opacity: 1;
  visibility: visible;
}

.table {
  overflow-y: auto;
  border-radius: 0.625rem;
  background: #fff;
  -webkit-box-shadow: 0 0.125rem 0.125rem 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 0.125rem 0.125rem 0 rgba(0, 0, 0, 0.15);
}

.table table {
  font-family: "Geologica";
  width: 100%;
  min-width: 73.125rem;
}

.table thead tr {
  background: #333;
  color: #fff;
  text-align: left;
}

.table thead tr th {
  padding: 1.15rem 1.5rem;
}

.table thead tr th:first-child {
  border-top-left-radius: 0.625rem;
}

.table thead tr th:last-child {
  border-top-right-radius: 0.625rem;
}

.table tbody {
  font-size: 1rem;
  font-weight: 300;
  line-height: 125%;
}

.table tbody td {
  padding: 0.975rem 1.5rem;
  vertical-align: top;
}

.table tbody td:first-child {
  width: 28.5%;
}

.table tbody tr:not(:last-child) {
  border-bottom: 0.0625rem solid rgba(0, 0, 0, 0.03);
}

.table ul {
  list-style: disc;
  padding-left: 1em;
}

.swiper-button-next,
.swiper-button-prev {
  width: 2.9375rem;
  height: 2.9375rem;
  background: #fff;
  color: #38a8fa;
  border-radius: 50%;
  -webkit-box-shadow: 0 0.125rem 0.125rem 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 0.125rem 0.125rem 0 rgba(0, 0, 0, 0.15);
}

.swiper-button-next::after,
.swiper-button-prev::after {
  display: none;
}

.swiper-button-next::before,
.swiper-button-prev::before {
  font-size: 0.75rem;
}

.swiper-button-prev {
  padding-right: 0.5rem;
  left: 0;
}

.swiper-button-prev::before {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}

.swiper-button-next {
  padding-left: 0.5rem;
  right: 0;
}

.swiper-button-next::before {
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.cover-image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.form__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 0.19rem;
}

.form__rate {
  margin-top: -0.55rem;
  color: #99a2ad;
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 130%;
  letter-spacing: -0.01313rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.2rem;
}

.form__rate::before {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  font-size: 0.75rem;
}

.form__grid {
  margin-top: 0.75rem;
  display: -ms-grid;
  display: grid;
  gap: 1.19rem;
  row-gap: 0.85rem;
}

.form__row {
  border-radius: 0.5rem;
  border: 1px solid #e3e7ef;
  background: #fff;
  position: relative;
  padding: 0.85rem 1.2rem;
}

.form__label {
  color: #656565;
  font-size: 0.8125rem;
  line-height: 130%;
  letter-spacing: -0.01219rem;
  margin-bottom: 0.5rem;
}

.form__input {
  text-overflow: ellipsis;
  -webkit-transition: border-color 0.3s ease 0s, color 0.3s ease 0s;
  transition: border-color 0.3s ease 0s, color 0.3s ease 0s;
  width: 100%;
  border-radius: 0.5rem;
  border: 1px solid #e3e7ef;
  background: #fff;
  color: #1d1d1b;
  line-height: 150%;
  padding: 0.75rem 1.25rem;
  caret-color: #b41a24;
  font-size: 0.875rem;
  line-height: 140%;
  letter-spacing: -0.01313rem;
}

.form__input:hover,
.form__input:focus {
  border-color: #b41a24;
}

.form__input::-webkit-input-placeholder {
  color: #1d1d1b;
  opacity: 0.6;
}

.form__input::-moz-placeholder {
  color: #1d1d1b;
  opacity: 0.6;
}

.form__input:-ms-input-placeholder {
  color: #1d1d1b;
  opacity: 0.6;
}

.form__input::-ms-input-placeholder {
  color: #1d1d1b;
  opacity: 0.6;
}

.form__input::placeholder {
  color: #1d1d1b;
  opacity: 0.6;
}

.form__input:disabled {
  background: #dfe0e1;
  border-color: #dfe0e1;
}

.form__textarea {
  text-overflow: ellipsis;
  resize: none;
  -webkit-transition: border-color 0.3s ease 0s, color 0.3s ease 0s;
  transition: border-color 0.3s ease 0s, color 0.3s ease 0s;
  width: 100%;
  border-radius: 0.5rem;
  border: 1px solid #e3e7ef;
  background: #fff;
  color: #1d1d1b;
  line-height: 150%;
  height: 5.8125rem;
  padding: 0.75rem 1.25rem;
  caret-color: #b41a24;
  font-size: 0.875rem;
  line-height: 140%;
  letter-spacing: -0.01313rem;
}

.form__textarea:hover,
.form__textarea:focus {
  border-color: #b41a24;
}

.form__textarea::-webkit-input-placeholder {
  color: #1d1d1b;
  opacity: 0.6;
}

.form__textarea::-moz-placeholder {
  color: #1d1d1b;
  opacity: 0.6;
}

.form__textarea:-ms-input-placeholder {
  color: #1d1d1b;
  opacity: 0.6;
}

.form__textarea::-ms-input-placeholder {
  color: #1d1d1b;
  opacity: 0.6;
}

.form__textarea::placeholder {
  color: #1d1d1b;
  opacity: 0.6;
}

.form__textarea:disabled {
  background: #dfe0e1;
  border-color: #dfe0e1;
}

.form__field {
  position: relative;
}

.form__field .toggler {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 1.25rem;
}

.form__submit {
  margin-top: 1.5rem;
}

.btn {
  position: relative;
  z-index: 1;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  white-space: nowrap;
  text-align: center;
  font-family: "Geologica";
  font-size: 1.125rem;
  gap: 0.25rem;
  font-weight: 500;
  padding: 1.25rem 3.85rem;
  -webkit-box-shadow: 0 0 1.30625rem 0 rgba(255, 255, 255, 0.11) inset;
          box-shadow: 0 0 1.30625rem 0 rgba(255, 255, 255, 0.11) inset;
  border-radius: 0.4375rem;
}

.btn::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  border-radius: 0.4375rem;
  -webkit-transition: opacity 0.3s ease 0s;
  transition: opacity 0.3s ease 0s;
  pointer-events: none;
}

.btn.btn-secondary {
  background: #14ae5c;
  color: #fff;
}

.btn.btn-secondary::after {
  background: linear-gradient(87deg, #14ae5c 8.98%, #22be6b 94.96%);
}

.btn.btn-primary {
  background: #298ff3;
  color: #fff;
}

.btn.btn-dark {
  color: #fff;
  background: #030619;
}

.btn.btn-dark::after {
  background: linear-gradient(87deg, #030619 8.98%, #1d213a 94.96%);
}

.btn.btn-danger {
  color: #fff;
  background: #c12727;
}

.btn.btn-danger::after {
  background: linear-gradient(87deg, #c12727 8.98%, #d23232 94.96%);
}

.btn.btn-sm {
  font-size: 1rem;
  padding: 0.6rem 1.65rem;
}

.btn:disabled,
.btn[aria-disabled=true] {
  cursor: default;
  color: #fff;
  background: #dfe0e1;
  pointer-events: none;
}

.toggler {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.75rem;
}

.toggler__input:checked + .toggler__btn {
  background: #b41a24;
}

.toggler__input:checked + .toggler__btn::before {
  left: 0.875rem;
}

.toggler__btn {
  position: relative;
  width: 1.75rem;
  height: 0.9375rem;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  background: #a0bcd0;
  border-radius: 3.375rem;
  display: block;
  cursor: pointer;
  -webkit-transition: background-color 0.3s ease 0s;
  transition: background-color 0.3s ease 0s;
}

.toggler__btn::before {
  content: "";
  position: absolute;
  top: 0.125rem;
  left: 0.125rem;
  width: 0.6875rem;
  height: 0.6875rem;
  border-radius: 50%;
  background: #fff;
  -webkit-transition: left 0.3s ease 0s;
  transition: left 0.3s ease 0s;
}

.toggler__desc {
  color: #43596b;
  font-size: 0.8125rem;
  line-height: 1.3125rem;
  letter-spacing: -0.01219rem;
}

.toggler__desc a {
  -webkit-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
  color: #b41a24;
}

.header {
  position: sticky;
  top: 0;
  z-index: 10;
  padding: 0.9rem 0;
  -webkit-transition: background-color 0.3s ease 0s, -webkit-box-shadow 0.3s ease 0s;
  transition: background-color 0.3s ease 0s, -webkit-box-shadow 0.3s ease 0s;
  transition: background-color 0.3s ease 0s, box-shadow 0.3s ease 0s;
  transition: background-color 0.3s ease 0s, box-shadow 0.3s ease 0s, -webkit-box-shadow 0.3s ease 0s;
}

.header.scroll {
  background: #fff;
  -webkit-box-shadow: 0 0.6875rem 3.0125rem 0rem rgba(208, 212, 216, 0.44), 0 0 1.30625rem 0rem rgba(255, 255, 255, 0.11) inset;
          box-shadow: 0 0.6875rem 3.0125rem 0rem rgba(208, 212, 216, 0.44), 0 0 1.30625rem 0rem rgba(255, 255, 255, 0.11) inset;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  max-width: 4.5rem;
}

.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(9, 15, 33, 0.9);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.3s ease 0s, visibility 0.3s ease 0s;
  transition: opacity 0.3s ease 0s, visibility 0.3s ease 0s;
}

.menu.active {
  opacity: 1;
  visibility: visible;
}

.menu.active .menu__content {
  -webkit-transform: none;
      -ms-transform: none;
          transform: none;
}

.menu__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
  -webkit-transform: translateX(100%);
      -ms-transform: translateX(100%);
          transform: translateX(100%);
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  width: 69%;
  margin-left: auto;
  border-radius: 0.75rem 0rem 0rem 0rem;
  padding: 5.56rem 2.19rem 0.62rem;
}

.menu__copy {
  margin-top: auto;
  font-size: 0.75rem;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-weight: 600;
  font-family: "Geologica";
}

.menu__item {
  position: relative;
}

.menu__item:not(:last-child) {
  margin-bottom: 0.94rem;
}

.menu__item:not(:last-child):first-child {
  margin-bottom: 1.87rem;
}

.menu__item:last-child .submenu {
  border-bottom: 0;
  padding-bottom: 0rem;
}

.menu__link,
.menu__btn {
  font-size: 0.9375rem;
  font-weight: 500;
  line-height: 133.333%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.25rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.menu__link::before,
.menu__btn::before {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  width: 1rem;
  height: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.5em;
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
}

.menu__btn {
  text-align: left;
  display: none;
}

.menu__lang {
  margin: 1.87rem 0em;
}

.menu__lang-btn {
  border-radius: 0.375rem;
  background: #fff;
  padding: 0.56rem 0.5rem;
  font-size: 0.9375rem;
  font-weight: 500;
  line-height: 133.333%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__lang-btn .menu__lang-current {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
}

.menu__lang-btn::before {
  display: none;
}

.menu__lang-btn.open::before {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.menu__lang-current {
  display: block;
  min-width: 2rem;
  text-align: center;
}

.menu__lang-flag {
  margin-left: 0.62rem;
  width: 1.4375rem;
  height: 1.125rem;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  display: block;
  border-radius: 0.125rem;
  border: 0.6px solid #eaeaea;
}

.menu__lang-flag img {
  width: 100%;
  height: 100%;
  -o-object-position: center;
     object-position: center;
  -o-object-fit: cover;
     object-fit: cover;
}

.menu__lang-content {
  color: #fff;
  background: #232c4b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.3s ease 0s, visibility 0.3s ease 0s;
  transition: opacity 0.3s ease 0s, visibility 0.3s ease 0s;
  padding: 5.5rem 0.94rem 2rem;
}

.menu__lang-content.open {
  opacity: 1;
  visibility: visible;
}

.menu__lang-logo {
  position: absolute;
  top: 1.25rem;
  left: 0.94rem;
  width: 4.367rem;
}

.menu__lang-caption {
  margin-bottom: 1.63rem;
}

.menu__lang-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.75rem;
  border-radius: 0.75rem;
  background: #0b1943;
  padding: 0.38rem 0.62rem;
  border-radius: 0.75rem;
  min-width: 11.875rem;
  cursor: pointer;
  -webkit-transition: background-color 0.3s ease 0s;
  transition: background-color 0.3s ease 0s;
}

.menu__lang-item img {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  min-width: 1.25rem;
  width: 1.25rem;
  height: 1.25rem;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

.menu__lang-item.selected::before {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  margin-left: auto;
  color: #298ff3;
  font-size: 0.6875rem;
}

.menu__lang-item:not(:last-child) {
  margin-bottom: 0.38rem;
}

.menu__lang-value {
  font-size: 0.875rem;
  font-weight: 500;
}

.menu__lang-translate {
  color: #77829b;
  font-size: 0.75rem;
}

.submenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0.94rem 0;
  border-top: 1px solid rgba(99, 99, 99, 0.5);
  border-bottom: 1px solid rgba(99, 99, 99, 0.5);
}

.submenu__item {
  white-space: nowrap;
}

.submenu__item:not(:last-child) {
  margin-bottom: 1rem;
}

.submenu__link {
  -webkit-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.icon-menu {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
  min-width: 2.5625rem;
  height: 2.5625rem;
  z-index: 11;
  margin: 0em 0em 0em auto;
}

.icon-menu span {
  display: block;
  padding: 0.15625rem 0.25rem;
  -webkit-transition: opacity 0.4s ease 0.4s, -webkit-transform 0.4s ease 0.4s;
  transition: opacity 0.4s ease 0.4s, -webkit-transform 0.4s ease 0.4s;
  transition: transform 0.4s ease 0.4s, opacity 0.4s ease 0.4s;
  transition: transform 0.4s ease 0.4s, opacity 0.4s ease 0.4s, -webkit-transform 0.4s ease 0.4s;
  will-change: transform;
}

.icon-menu span::before {
  content: "";
  display: block;
  height: 0.1875rem;
  width: 2rem;
  background: currentColor;
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
  will-change: transform;
}

.icon-menu.active span {
  -webkit-transition: opacity 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
  transition: opacity 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, opacity 0.3s ease 0s;
  transition: transform 0.3s ease 0s, opacity 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
}

.icon-menu.active span::before {
  -webkit-transition: width 0.3s ease 0s, -webkit-transform 0.45s ease 0.35s;
  transition: width 0.3s ease 0s, -webkit-transform 0.45s ease 0.35s;
  transition: transform 0.45s ease 0.35s, width 0.3s ease 0s;
  transition: transform 0.45s ease 0.35s, width 0.3s ease 0s, -webkit-transform 0.45s ease 0.35s;
}

.icon-menu.active span:first-child {
  -webkit-transform: translateY(0.5rem);
      -ms-transform: translateY(0.5rem);
          transform: translateY(0.5rem);
}

.icon-menu.active span:first-child::before {
  -webkit-transform: rotate(-135deg);
      -ms-transform: rotate(-135deg);
          transform: rotate(-135deg);
}

.icon-menu.active span:nth-child(2) {
  opacity: 0;
}

.icon-menu.active span:nth-child(3) {
  -webkit-transform: translateY(-0.5rem);
      -ms-transform: translateY(-0.5rem);
          transform: translateY(-0.5rem);
}

.icon-menu.active span:nth-child(3)::before {
  -webkit-transform: rotate(-225deg);
      -ms-transform: rotate(-225deg);
          transform: rotate(-225deg);
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.promo {
  padding: 2.5rem 0;
}

.promo__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.promo__offer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.promo__caption {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.44rem;
  color: rgba(51, 51, 51, 0.78);
}

.promo__caption::before {
  content: "";
  width: 1.25rem;
  height: 0.125rem;
  border-radius: 6.25rem;
  background: #333;
}

.promo__title {
  margin-top: 0.75rem;
  background-image: linear-gradient(87deg, #030619 8.98%, #1d213a 94.96%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.promo__desc {
  margin-top: 1.25rem;
  font-size: 1.125rem;
  font-weight: 300;
  font-family: "Geologica";
  color: rgba(51, 51, 51, 0.8);
  max-width: 25.375rem;
}

.promo__code {
  margin-top: 2.7rem;
}

.promo__actions {
  margin-top: 1.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.13rem;
}

.promo__rate {
  margin-top: 1.13rem;
}

.promo__info {
  position: relative;
  z-index: 1;
  max-width: 26.8125rem;
}

.promo__info::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 44.375rem;
  height: 44.375rem;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: url("../img/promo-decor.svg") center/contain no-repeat;
  z-index: -1;
}

.promo__info-content {
  background: rgba(255, 255, 255, 0.75);
  border: 0.0625rem solid rgba(0, 0, 0, 0.07);
  -webkit-box-shadow: 0 0 1.30625rem 0 rgba(255, 255, 255, 0.11) inset, 0 0.6875rem 3.0125rem #fff;
          box-shadow: 0 0 1.30625rem 0 rgba(255, 255, 255, 0.11) inset, 0 0.6875rem 3.0125rem #fff;
  backdrop-filter: blur(0.4625rem);
  -webkit-backdrop-filter: blur(0.4625rem);
  border-radius: 1.5rem;
  position: relative;
  z-index: 2;
}

.promo__info-caption {
  position: relative;
  color: #3f3131;
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 1.375rem;
  text-transform: uppercase;
  padding: 2.2rem 2.1875rem 0.625rem;
  position: relative;
}

.promo__info-caption::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  border-radius: 0rem 0.3125rem 0.3125rem 0rem;
  background: #38a8fa;
  width: 0.25rem;
  height: 1.5625rem;
}

.promo__info-list {
  border-top: 0.0625rem solid rgba(0, 0, 0, 0.04);
}

.promo__info-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0.875rem;
  line-height: 157.143%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.04);
}

.promo__info-item:last-child .promo__info-name {
  padding-bottom: 3rem;
}

.promo__info-item:last-child .promo__info-value {
  padding-bottom: 3rem;
}

.promo__info-name {
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  padding: 0.71875rem 0.71875rem 0.71875rem 1.875rem;
  border-right: 1px solid rgba(0, 0, 0, 0.04);
}

.promo__info-value {
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  text-align: right;
  font-weight: 500;
  padding: 0.71875rem 1.875rem 0.71875rem 0.71875rem;
}

.heading {
  background: #fff;
  padding: 4.5rem 0;
}

.heading__caption {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.heading__caption::before {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  font-size: 0.5em;
  padding: 0.5em 1em;
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
}

.heading__caption.active::before {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.heading__body {
  margin-top: 3.08rem;
}

.heading__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
}

.heading__list-link {
  font-family: "Geologica";
  font-size: 1rem;
  font-weight: 300;
  line-height: 125%;
  padding: 1.5rem 1.72rem;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.63rem;
  -webkit-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.heading__list-link::before {
  width: 1.5625rem;
  height: 1.25rem;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#0167ca), to(#38a8fa));
  background-image: linear-gradient(180deg, #0167ca 0%, #38a8fa 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.download {
  padding: 4.37rem 0 2rem;
  background: url("../img/download/decor.svg") center/100% auto no-repeat, url("../img/logo-decor.svg") 96% 0/21.625rem 8.75rem no-repeat;
}

.download__desc {
  margin-top: 1.06rem;
  font-family: "Geologica";
  font-size: 1rem;
  font-weight: 300;
  line-height: 125%;
}

.download__slider {
  margin-top: 0.6875rem;
  position: relative;
}

.download__slider-content {
  padding: 3.5625rem;
}

.download__slide {
  height: auto;
  border-radius: 1.625rem;
  overflow: hidden;
  border: 0.125rem solid rgba(0, 0, 0, 0.07);
  -webkit-box-shadow: 0 0.6875rem 3.0125rem 0 rgba(208, 212, 216, 0.44), 0rem 0rem 1.30625rem 0rem rgba(255, 255, 255, 0.11) inset;
          box-shadow: 0 0.6875rem 3.0125rem 0 rgba(208, 212, 216, 0.44), 0rem 0rem 1.30625rem 0rem rgba(255, 255, 255, 0.11) inset;
  opacity: 0;
  visibility: hidden;
}

.download__slide.swiper-slide-fully-visible {
  opacity: 1;
  visibility: visible;
}

.about {
  padding: 3rem 0 2.5rem;
}

.about__desc {
  margin-top: 1rem;
  font-family: "Geologica";
  font-size: 1rem;
  font-weight: 300;
  line-height: 125%;
  max-width: 52rem;
  opacity: 0.9;
}

.about__table {
  margin-top: 1.63rem;
}

.about__more {
  margin-top: 1.88rem;
}

.popular {
  padding: 2rem 0;
}

.popular__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.popular__btn::before {
  margin-left: 0.38rem;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  font-size: 0.65em;
}

.popular__filters {
  margin-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.12rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.popular__filter-input:checked + .popular__filter-btn {
  border-radius: 6.25rem;
  background: #38a8fa;
  color: #fff;
}

.popular__filter-btn {
  border-radius: 6.25rem;
  border: 0.125rem solid rgba(0, 0, 0, 0.03);
  background: #fff;
  padding: 0.88rem 3.38rem;
  font-family: "Geologica";
  font-weight: 300;
  display: block;
  -webkit-box-shadow: 0 0.125rem 0.125rem 0 rgba(0, 0, 0, 0.15), 0 0 1.30625rem 0px rgba(255, 255, 255, 0.11) inset;
          box-shadow: 0 0.125rem 0.125rem 0 rgba(0, 0, 0, 0.15), 0 0 1.30625rem 0px rgba(255, 255, 255, 0.11) inset;
  -webkit-transition: color 0.3s ease 0s, background-color 0.3s ease 0s;
  transition: color 0.3s ease 0s, background-color 0.3s ease 0s;
  cursor: pointer;
}

.popular__items {
  margin-top: 2rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
  grid-template-columns: repeat(4, 1fr);
  gap: 1.88rem;
}

.popular__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #fff;
  border-radius: 1rem;
  border: 0.0625rem solid rgba(0, 0, 0, 0.03);
  -webkit-box-shadow: 0 0.125rem 0.125rem 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 0.125rem 0.125rem 0 rgba(0, 0, 0, 0.15);
}

.popular__item-image {
  background: rgba(0, 0, 0, 0.03);
  overflow: hidden;
  border-radius: 1rem;
  margin: -0.0625rem -0.0625rem 0;
  height: 0;
  position: relative;
  padding-bottom: 61.0909090909%;
}

.popular__item-image img {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 1rem;
}

.popular__item-name {
  text-align: center;
  font-family: "Geologica";
  font-size: 1rem;
  font-weight: 700;
  line-height: 150%;
  padding: 1.25rem 1.25rem 1.875rem 1.25rem;
}

.development {
  padding: 2rem 0;
}

.development__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5.25rem;
}

.development__content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.development__title {
  max-width: 32.5rem;
}

.development__desc {
  margin-top: 1.25rem;
  font-family: "Geologica";
  font-size: 1rem;
  font-weight: 300;
  line-height: 125%;
}

.development__list {
  margin-top: 1rem;
  font-family: "Geologica";
  font-size: 1rem;
  font-weight: 300;
  line-height: 125%;
}

.development__list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5rem;
}

.development__list li::before {
  content: "";
  width: 1.25rem;
  height: 0.125rem;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-radius: 6.25rem;
  display: block;
  background: currentColor;
}

.development__list li:not(:last-child) {
  margin-bottom: 0.5rem;
}

.development__image {
  border-radius: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.03);
  background: #fff;
  position: relative;
  aspect-ratio: 1.0723404255;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 31.5rem;
}

.development__image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 1rem;
}

.start {
  padding: 3rem 0;
}

.start__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 4rem 1rem;
  border-radius: 1.25rem;
  background: url("../img/start-decor.svg") center/cover no-repeat, #fff;
}

.start__desc {
  margin-top: 1.25rem;
  text-align: center;
  font-family: "Geologica";
  font-size: 1rem;
  font-weight: 300;
  line-height: 125%;
  max-width: 62.5625rem;
  opacity: 0.9;
}

.start__desc a {
  color: #38a8fa;
  text-decoration: underline;
}

.start__desc p:not(:last-child) {
  margin-bottom: 1.25rem;
}

@media (min-width: 575.98px) {
  [class*=__container] {
    max-width: 33.75rem;
  }

  .popup__body {
    padding: 2.06rem 4.75rem 2.25rem;
  }

  .header {
    padding: 1rem 0;
  }
}

@media (min-width: 743.98px) {
  [class*=__container] {
    max-width: 44rem;
  }

  .form__grid {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }

  .form__block.form__block-lg {
    -ms-grid-column-span: 2;
    grid-column: span 2;
  }

  .menu {
    position: static;
    top: auto;
    left: auto;
    width: auto;
    height: auto;
    padding: 0;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transition: none;
    transition: none;
    opacity: 1;
    visibility: visible;
    background: none;
  }

  .menu__content {
    background: none;
    display: contents;
    -webkit-transition: none;
    transition: none;
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
    overflow-y: visible;
    overflow-x: visible;
    border-radius: 0;
  }

  .menu__copy {
    display: none;
  }

  .menu__body {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    padding: 0 3.75rem;
  }

  .menu__list {
    font-weight: 500;
    gap: 1.5rem;
    row-gap: 0.5rem;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }

  .menu__item:not(:last-child) {
    margin-bottom: 0;
  }

  .menu__item:not(:last-child):first-child {
    margin-bottom: 0;
  }

  .menu__item:last-child .submenu {
    padding-bottom: 1rem;
  }

  .menu__btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .menu__lang {
    position: relative;
    margin: 0;
  }

  .menu__lang-btn::before {
    display: block;
    font-size: 0.45em;
    margin-left: 0.12rem;
    -webkit-transition: -webkit-transform 0.3s ease 0s;
    transition: -webkit-transform 0.3s ease 0s;
    transition: transform 0.3s ease 0s;
    transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
  }

  .menu__lang-content {
    background: #0b1534;
    padding: 0.94rem;
    border-radius: 0.75rem;
    opacity: 1;
    visibility: visible;
    -webkit-transition: none;
    transition: none;
    position: absolute;
    top: calc(100% + 0.38rem);
    right: 0;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: auto;
  }

  .menu__lang-content:not(.open) {
    display: none;
  }

  .menu__lang-logo {
    display: none;
  }

  .menu__lang-caption {
    display: none;
  }

  .submenu {
    border-top: 0;
    border-bottom: 0;
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 0;
    color: #fff;
    border-radius: 0.75rem;
    font-size: 0.85rem;
    padding: 2rem 1rem 1rem;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    opacity: 0;
    visibility: hidden;
  }

  .submenu::before {
    content: "";
    position: absolute;
    top: 1rem;
    left: 0;
    width: 100%;
    height: calc(100% - 1rem);
    background: #0b1534;
    z-index: -1;
    border-radius: 0.5rem;
  }

  .icon-menu {
    display: none;
  }
}

@media (min-width: 991.98px) {
  [class*=__container] {
    max-width: 60rem;
  }

  .header__logo {
    max-width: 7.125rem;
    margin-right: 2.9rem;
  }

  .menu__list {
    gap: 2.56rem;
    gap: 0;
  }
}

@media (min-width: 1199.98px) {
  body.lock {
    overflow: visible;
  }

  [class*=__container] {
    max-width: 76.875rem;
  }
}

@media (any-hover: hover) {
  .swiper-button-next:hover,
  .swiper-button-prev:hover {
    color: #fff;
    background: -webkit-gradient(linear, left bottom, left top, color-stop(-13.79%, #0167ca), color-stop(102.34%, #38a8fa));
    background: linear-gradient(0deg, #0167ca -13.79%, #38a8fa 102.34%);
  }

  .btn.btn-secondary:hover {
    background: #0f8044;
  }

  .btn.btn-primary:hover {
    background: #0c76dd;
  }

  .btn.btn-dark:hover {
    background: black;
  }

  .btn.btn-danger:hover {
    background: #971e1e;
  }

  .btn:hover::after {
    opacity: 0;
  }

  .toggler__desc a:hover {
    text-decoration: underline;
    color: #87141b;
  }

  .menu__item:hover .menu__btn {
    color: #b41a24;
  }

  .menu__item:hover .menu__btn::before {
    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg);
  }

  .menu__item:hover .submenu {
    opacity: 1;
    visibility: visible;
  }

  .menu__link:hover,
  .menu__btn:hover {
    color: #b41a24;
  }

  .menu__lang-item:hover {
    background: #12296f;
  }

  .submenu__link:hover {
    color: #b41a24;
  }

  .heading__list-link:hover {
    color: #0167ca;
  }

  .popular__filter-btn:hover {
    color: #38a8fa;
  }
}

@media (hover: none) {
  .menu__btn.open {
    color: #b41a24;
  }

  .menu__btn.open::before {
    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg);
  }

  .submenu.open {
    opacity: 1;
    visibility: visible;
  }
}

.webp .popup__body { background: url(../img/modal.webp) 0 0/cover no-repeat, #060606; }